# CI_ENVIRONMENT can be: development, production, testing
CI_ENVIRONMENT = production

app.baseURL = 'http://localhost:8000/'
app.forceGlobalSecureRequests = true

# Database Configuration
database.default.hostname = your_db_host
database.default.username = your_db_user
database.default.password = your_db_password
database.default.database = your_db_name
database.default.DBDriver = MySQLi
database.default.port = 3306
database.default.DBDebug = false
