# Disable directory listing
Options -Indexes

# Disable access to the actual directory structure
Options +FollowSymLinks

# Rewrite engine
RewriteEngine On

# Restrict your site access to only these types of files
RewriteCond %{REQUEST_FILENAME} !^(.*)\.gif$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.jpg$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.jpeg$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.png$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.svg$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.webmanifest$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.js$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.css$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.swf$ [NC]
RewriteCond %{REQUEST_FILENAME} !^(.*)\.php$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
